.Cube-container {
  /* position: relative;
  overflow: hidden; */
	
  /* put the size you want your 3D scene to be here */
  width: 80vw;
  
  height: calc(100vh - 90px);
}

.Cube-container canvas {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 40%;
  border-radius: 20px;
  
}
