body {
  font-family: sans-serif;
}

.Cube-container {
  width: 80vw;
  height: calc(100vh - 90px);
}

.Cube-container canvas {
  display: block;
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.game-container {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  color: rgb(32, 27, 40);
  font-family: "Kode Mono";
  pointer-events: none;
}

h1 {
  font-style: bold;
  font-size: 80px;
}

h2 {
  margin: 0;
}

h3 {
  font-style: italic;
  font-weight: 300;
}

.nav-bar {
  margin: 0.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

button {
  font-family: "Kode Mono";
  background-color: transparent;
  border-radius: 20px;
  border: none;
  padding: 0;
  width: 10rem;
  height: 5rem;
  font-size: x-large;
  margin-top: 1.5rem;
}

button:hover {
  cursor: pointer;
  font-weight: 700;
}


html {
  /* Firefox */
  scrollbar-color: hsla(0, 0%, 46%, 0.5) transparent;
}

/* Chrome */
::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

.level-card{
  background-color: rgba(255, 230, 6, 0.85);
  padding: 5px;
  margin:5px;
  border-radius: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  border-style: solid;
  border-color: rgba(255, 255, 82, 0.759);
}

.level-card:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.759);
  border-color: rgba(121, 121, 111, 0.759);
}

.level-card > *{
  pointer-events: none;
}

.level-card > img{
  height:150px;
}

.level-card > div > *{
  padding: 5px;
  margin: 0px;
}

.card-container{
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}



.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 80vw;
  height: calc(100vh - 90px);
  border-radius: 20px;
}

.button-container{
  display: flex;
  justify-content: center;
  width: 90vw;
}

.score-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  border-radius: 1rem;
  background-color: rgba(255, 252, 225, 0.721);
}

.character-selector{
  justify-content: space-between;
}

.character-selector > *{
  padding:5px;
  margin:0;
}

.prev-next-button-container{
  flex-basis:100%;
  justify-content: space-between;
  align-items: center;
  display:flex;
  width:60%;
}

.loading {
  position: relative;
  background-color: black;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

#loading-text {
  color: white;
  background-color: transparent;
}

@keyframes fade {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  background-color: black;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1500px) {

.Cube-container {
  width: 98vw;
}

.menu-container {
  width: 98vw;
}

}

@media only screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }

  button:active {
    font-weight: 700;
  }
  .Cube-container {
    width: 100vw;
    height: 100dvh;
  }

  .menu-container {
    width: 100vw;
    height: 100dvh;
    border-radius: 0;
  }

  .Cube-container canvas {
    border-radius: 0px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  }

  .game-container {
    justify-content: center;
  }

  .prev-next-button-container{
    width:100%;
  }

  body {
    margin: 0;
  }
}
