body{
  display: flex;
  justify-content: center;
  /* padding:20px */
  margin-left:40px;
  margin-right:40px;
}
h1{
  color: aqua;
}

button{
  background-color:orange;
  border-radius: 20px;
  border:none;
  inset: 0px;
  width: 10rem;
  height: 5rem;
  font-size: medium;
}

p{
  background-color:rgb(255, 209, 122);
  border-radius: 20px;
  border:none;
  padding: 2.5rem;
  font-size: medium;
  font-family: sans-serif;
}

.menu-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  position: absolute;
  width: 80vw;
  height: calc(100vh - 90px);
}

button:hover{
  background-color: rgb(255, 106, 0);
  cursor: pointer;
}